body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100%;
}

footer {
    text-align: center;
    background-color: #92550F;
    margin: 0;
    padding: 18px;
    color: #ddd;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.header {
    height: 100px;
    background-color: #1f1f1f;
    color: #B16713;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 64px;
    font-weight: 800;
}

.header a {
    color: #B16713;
}

#navbar {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ddd;
}

.navbar-list-div {
    background-color: #1f1f1f;
    padding: 0;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-list li {
    float: left;
}

.navbar-list li a {
    display: block;
    padding: 12px;
    font-size: 20px;
}

.navbar-list li a:not(.active) {
    color: #B16713;
}

.navbar-list li a:hover:not(.active) {
    background-color: #0f0f0f;
}

.active {
    color: white;
    background-color: #92550F;
}

.about-link {
    margin-left: auto;
}

.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky+.content {
    padding-top: 60px;
}

#scrollbar {
    height: 3px;
    background: #92550F;
    width: 0%;
}

.basketball-img {
    height: 220px;
    width: 220px;
}

.parallax {
    /* The image used */
    background-image: url('pexels-spencer-lind-1331750.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 {
    /* The image used */
    background-image: url('oleksii-s-O2kqxbix4Mw-unsplash.jpg');

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.empty {
    height: 70%;
}

.home-text {
    background-color: #B16713;
    font-size: 40px;
    font-weight: 500;
    padding: 240px 340px;
    color: white;
}

.home-polygon {
    clip-path: polygon(25% 0, 100% 15%, 100% 100%, 0 100%, 0 5%);
}

.home-arrow {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);
}